# Segmenting and Clustering Neighborhoods in Toronto
## By Val

### Task 1: Scraping data for dataframe from Wikipedia Page  with BeautifulSoup
### For that task, I watched several videos on youtube

In [52]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [53]:
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(data, 'html.parser')

### We inspect the wikipedia on suitable data and find following:

In [54]:
# the "tr", "td", and "table" were found while inspecting the wikipedia page
# with this code we are able to find rows and colomns for the dataframe
soup.find('table').find_all('tr')
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [55]:
# these are 3 lists for Postcode, Borough, Neighbourhood
PL = []
BL = []
NL = []

In [56]:
# we insert the found cells in the created lists

for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        PL.append(cells[0].text)
        BL.append(cells[1].text)
        NL.append(cells[2].text.rstrip('\n'))

In [80]:
# we create the dataframe
wiki_df = pd.DataFrame({"PostalCode": PL,"Borough": BL, "Neighbourhood": NL})
wiki_df.head(10)

  PostalCode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Not assigned
9        M8A      Not assigned      Not assigned

### After Dataframe is created we can work on the given tasks

In [62]:
# Now, lets drop all "not assigned" rows we see in Borough column
wiki_df_drop = wiki_df[wiki_df.Borough != "Not assigned"].reset_index(drop=True)
wiki_df_drop.head(10)

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights
5        M6A        North York    Lawrence Manor
6        M7A      Queen's Park      Not assigned
7        M9A         Etobicoke  Islington Avenue
8        M1B       Scarborough             Rouge
9        M1B       Scarborough           Malvern

In [74]:
# Now we can group the neighbourhoods in the same borough

wiki_df_group = wiki_df_drop.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
wiki_df_group.head(10)

  PostalCode      Borough                                    Neighbourhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

In [71]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

for index, row in wiki_df_group.iterrows():
    if row["Neighbourhood"] == "Not assigned":
        row["Neighbourhood"] = row["Borough"]
        
wiki_df_group.head(10)

  PostalCode      Borough                                    Neighbourhood
0        M1B  Scarborough                                   Rouge, Malvern
1        M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                Guildwood, Morningside, West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7        M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8        M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9        M1N  Scarborough                      Birch Cliff, Cliffside West

### We are almost done, now we can compare the old and new dataframe by size

In [76]:
# lets give it a nicer name
Toronto_df = wiki_df_group

In [81]:
# Shape the new Dataframe
toronto_df.shape

(103, 3)

In [83]:
# compare to original dataframe
wiki_df.shape

(288, 3)

## As we can see, we got rid of  180 rows by cleaning and grouping the dataframe

## Thank you for reviewing, all the best for the rest of capstone!